<div class="activities-container">
  <mat-card appearance="outlined">
    <mat-card-content><mat-card-title>Ideas for inspiration!</mat-card-title></mat-card-content>
  </mat-card>

  <mat-selection-list>
    <mat-accordion>
      @for (category of activityList; track category.category) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>{{category.category}}</mat-expansion-panel-header>
          
          @for (activity of category.activities; track activity) {
            <mat-list-option>{{activity}}</mat-list-option>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-selection-list>

</div>