<div class="inspiration-container">

  <mat-stepper orientation="vertical" linear="true" (selectionChange)="onStepChange($event)" #stepper>
    <mat-step label="Trip" editable="true" errorMessage="You must select a trip!" [stepControl]="tripSelectFormGroup">
      <form [formGroup]="tripSelectFormGroup" class="rowLayout">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Select trip</mat-label>
          <input matInput #tripSelect formControlName="trip" [matAutocomplete]="tripAuto" />
          <mat-autocomplete #tripAuto [displayWith]="tripNameFn">
            @for (trip of tripList; track trip.id) {
              <mat-option [value]="trip">{{trip.name}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button matStepperNext><mat-icon>arrow_circle_down</mat-icon></button>
      </form>
    </mat-step>

    <mat-step label="Keywords" optional="true" editable="true" [stepControl]="keywordsFormGroup">
      <form [formGroup]="keywordsFormGroup" class="rowLayout">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Keywords related to dream activities</mat-label>
          <mat-chip-grid #keywordsChipGrid aria-label="Enter keywords" formControlName="keywords">
            @for (keyword of keywords(); track keyword) {
              <mat-chip-row (removed)="removeKeyword(keyword)">
                {{keyword}}
                <button matChipRemove aria-label="'remove reactive form' + keyword">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="New keyword..."
                [matChipInputFor]="keywordsChipGrid"
                (matChipInputTokenEnd)="addKeyword($event)"
        />
        </mat-form-field>
        <button mat-button matStepperNext><mat-icon>travel_explore</mat-icon></button>
      </form>
    </mat-step>

    <mat-step label="Suggestions" optional="true" editable="false" [stepControl]="suggestionsFormGroup">
      <form [formGroup]="suggestionsFormGroup" class="columnLayout">
        <mat-selection-list #suggestionsSelectList formControlName="suggestions">
          @for (suggestion of suggestions(); track suggestion) {
            <mat-list-option [value]="suggestion.id" lines="5">
              <mat-icon matListItemIcon>{{suggestion.icon}}</mat-icon>
              <span matListItemTitle>{{suggestion.title}}</span>
              <span matListItemLine><b>{{suggestion.category}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{suggestion.url}}">{{suggestion.url}}</a></span>
              <span matListItemLine>{{suggestion.location}}</span>
              <span matListItemLine>{{suggestion.description}}</span>
            </mat-list-option>
          }
        </mat-selection-list>

        <button class="addButton" mat-button (click)="attemptAddActivities(suggestionsSelectList.selectedOptions.selected)">
          Add to {{tripSelect.value}}
          <mat-icon>
            {{suggestionsSelectList.selectedOptions.isMultipleSelection() ?
            "library_add" : "add_box"}}
          </mat-icon>
        </button>
      </form>
    </mat-step>

  </mat-stepper>
  <!-- <mat-card appearance="raised">
    <mat-card-content><mat-card-title>
      @switch (!activities.selectedOptions.isEmpty()) {
        @case (true) {
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Add To...</mat-label>
            <input matInput type="text" [formControl]="addTo" [matAutocomplete]="tripAuto" />
            <mat-autocomplete #tripAuto="matAutocomplete" [displayWith]="tripNameFn">
              @for (trip of tripList; track trip.id) {
                <mat-option [value]="trip">{{trip.name}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <div class="spacer"></div>

          <button mat-icon-button (click)="attemptAddActivities()"><mat-icon>add</mat-icon></button>
        }

        @default {
          Select what you want to do...
        }
      }
      
    </mat-card-title></mat-card-content>
  </mat-card>

  <mat-selection-list #activities>
    <mat-accordion>
      @for (category of activityList; track category.category) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon fontSet="material-symbols-outlined">{{category.icon}}</mat-icon>
            {{category.category}}
          </mat-expansion-panel-header>
          
          @for (activity of category.activities; track activity) {
            <mat-list-option>{{activity}}</mat-list-option>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-selection-list> -->

</div>