<div class="trip-edit-container">
  <form [formGroup]="tripForm" (ngSubmit)="attemptSave()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>ID</mat-label>
      <input matInput type="text" formControlName="id" readonly="true" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>User ID</mat-label>
      <input matInput type="text" formControlName="user_id" readonly="true" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Destination</mat-label>
      <input matInput type="text" formControlName="destination" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Cost</mat-label>
      <input matInput type="text" formControlName="cost" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start_time" placeholder="Start">
        <input matEndDate formControlName="end_time" placeholder="End">
      </mat-date-range-input>
      <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      @if (tripForm.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (tripForm.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Image URL</mat-label>
      <input matInput type="text" class="image-url" formControlName="image_url" readonly="true" />
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Upload Image</mat-label>
      <ngx-mat-file-input #fileInput [accept]="acceptedFileTypes" formControlName="image"></ngx-mat-file-input>
    </mat-form-field>

    <button mat-flat-button type="submit">Save</button>
  </form>

  <mat-card appearance="raised">
    <mat-card-content>
      
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for (link of links; track link.link) {
          <a mat-tab-link routerLinkActive [routerLink]="link.link"
             #rla="routerLinkActive" [active]="rla.isActive">
            <mat-icon fontSet="material-symbols-outlined">{{link.icon}}</mat-icon>
            {{link.text}}
          </a>
        }
      </nav>


      <mat-tab-nav-panel #tabPanel class="content">
          <router-outlet (activate)="onRouterOutletPopulated($event)"></router-outlet> 
      </mat-tab-nav-panel>


    </mat-card-content>
  </mat-card>

</div>