form mat-expansion-panel {
  display: flex;
  flex-direction: column;
}

.trip-edit-container {  
  height: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  gap: 15px;

  form {
    flex-basis: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    mat-form-field {
      display: flex;
      font-size: .95em;
      
      ::ng-deep div.mat-mdc-text-field-wrapper {
        background-color: #fff;
      }
    }
  }

  mat-card {
    display: flex;
    flex-basis: 0px;
    flex-grow: 1;


    mat-card-content {
      padding: 0;

      .content {
        padding: 15px;
      }
    }
  }
}



mat-accordion {
  display: block;
}